/*FOOTER====================*/
.footer-nav {
    padding: min(12.8205128205vw, var(--spacing-50)) var(--container-spacing-x);
    background-color: #e8e6e2;
    display: flex;
    /* justify-content: space-between; */
    grid-gap: var(--container-spacing-x);

    position: relative;
}

.footer-nav .vertical-logo {
    display: flex;
    flex-direction: column;
    width: max(6.9444444444%, 100px);
    justify-content: start;
}

.footer-nav .vertical-logo img {
    width: 100%;
    height: auto;
}

.footer-nav .logos {
    flex: 1;
}

.logos .logos-wrap {
    max-width: 586px;
    padding: var(--spacing-16) 0;
    display: flex;
    flex-direction: column;
    grid-gap: var(--spacing-50);
}

.logos .logos-wrap .groups > p {
    color: rgba(var(--color-neutral-mid-gray-rgb), 0.6);
    font-weight: var(--font-weight-medium);
    margin-bottom: var(--spacing-24);
    font-size: var(--12px);
    line-height: normal;
}

.logos .developments,
.logos .groups .groups-logos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: min(4.6296296296vw, var(--spacing-80));
    row-gap: var(--spacing-30);
    align-items: center;
}

.logos .developments .logo-hover-ci:nth-of-type(2n),
.logos .groups .groups-logos .logo-hover-ci:nth-of-type(2n) {
    justify-self: center;
}

.logos .developments .logo-hover-ci:nth-of-type(3n),
.logos .groups .groups-logos .logo-hover-ci:nth-of-type(3n) {
    justify-self: end;
}

.logos .logos-wrap .logo-hover-ci {
    transition: var(--duration-x2) var(--timing-function);
    filter: grayscale(100%);
}

.logos .logos-wrap .logo-hover-ci img {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 55px;
    object-fit: contain;
    object-position: center;
}

.logos .logos-wrap .logo-hover-ci:hover {
    filter: grayscale(0%);
}

.footer-nav .links-and-detail {
    width: 34.8958333333%;
    border-left: 0.5px solid rgba(var(--color-neutral-mid-gray-rgb), 0.6);
}

.footer-nav .links-and-detail .links-and-detail-wrap {
    padding: var(--spacing-16) min(2.3148148148vw, var(--spacing-40));
    padding-right: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    grid-gap: min(2.8935185185vw, var(--spacing-50));
    height: 100%;
}

.links-and-detail-wrap address {
    display: flex;
    flex-direction: column;
    grid-gap: min(0.9259259259vw, var(--spacing-16));
}

.links-and-detail-wrap address > a:hover {
    opacity: 0.6;
}

.links-and-detail .links {
    display: flex;
    justify-content: space-between;
}

.links-and-detail .links .pages {
    width: max(50%, 318px);
    display: flex;
    column-gap: min(2.08333333333vw, var(--spacing-36));
    grid-gap: min(0.9259259259vw, var(--spacing-16));
    flex-wrap: wrap;
    font-size: var(--12px);
    line-height: normal;
}

.links-and-detail .socials {
    height: 100%;
    display: flex;
    align-items: flex-end;
    grid-gap: min(0.9259259259vw, var(--spacing-16));
    font-size: 14px;
    line-height: 1;
}

@media (min-width: 992px) {
    .footer-nav::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(var(--color-neutral-mid-gray-rgb), 0.06);
    }
}

@media (max-width: 991px) {
    .footer-nav .vertical-logo {
        display: none;
    }

    .footer-nav {
        flex-direction: column;
    }

    .footer-nav .links-and-detail,
    .footer-nav .logos {
        border-left: none;
        width: 100%;
    }
    .links-and-detail-wrap address {
        grid-gap: min(4.1025641026vw, var(--spacing-16));
    }

    .links-and-detail .links {
        flex-direction: column;
        grid-gap: min(12.8205128205vw, var(--spacing-50));
    }

    .logos .logos-wrap .groups > p {
        font-size: var(--8px);
        margin-bottom: min(4.1025641026vw, var(--spacing-16));
    }

    .logos .logos-wrap {
        margin-bottom: min(7.6923076923vw, var(--spacing-30));
    }

    .logos .logos-wrap .logo-hover-ci img {
        max-height: 7.6923076923vw;
        max-width: 21.02564102564vw;
    }

    .logos .logos-wrap .logo-hover-ci.small img {
        max-height: 8.7179487179vw;
    }

    .logos .logos-wrap {
        padding: 0;
        grid-gap: min(7.6923076923vw, var(--spacing-30));
    }

    .footer-nav .links-and-detail .links-and-detail-wrap {
        padding: 0;
        grid-gap: min(12.8205128205vw, var(--spacing-50));
    }

    .logos .developments {
        grid-gap: min(11vw, var(--spacing-40));
    }

    .links-and-detail .links .pages {
        width: 100%;
        font-size: var(--10px);
        column-gap: min(12.8205128205vw, var(--spacing-50));
        row-gap: min(4.1025641026vw, var(--spacing-16));
    }

    .links-and-detail .socials {
        grid-gap: min(4.1025641026vw, var(--spacing-16));
    }
}
