/*INDEX====================*/

/*INDEX-HERO====================*/
.index-hero {
    min-height: 100svh;
    overflow: hidden;
    position: relative;
}

.index-hero:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    background: linear-gradient(
            0deg,
            rgba(var(--color-black-rgb), 0) 73.95%,
            rgba(var(--color-black-rgb), 0.7) 100%
        ),
        linear-gradient(
            180deg,
            rgba(var(--color-black-rgb), 0) 62%,
            rgba(var(--color-black-rgb), 0.7) 100%
        );
    z-index: 5;
}

.index-hero .sc-inner {
    min-height: 100svh;
    z-index: 6;
    display: flex;
    flex-direction: column;
    pointer-events: none;
}

.index-hero .hero-bg {
    width: 100vw;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
}

.index-hero .hero-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    color: var(--color-white);
    text-wrap: nowrap;
    padding-top: var(--header-height);
    pointer-events: none;
    text-wrap: wrap;
}

.index-hero .hero-text > h1 {
    margin-bottom: min(1.1574074074vw, 20px);
}

.index-hero .locations {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    grid-gap: var(--spacing-40);
    padding-bottom: min(3.7037037037vw, var(--spacing-64));
    pointer-events: all;
    --item-width: min(14.6990740741vw, 254px);
    --item-height: min(4.4560185185vw, 77px);
}

.index-hero .locations.less-than-4 {
    justify-content: space-between;
}

.index-hero .locations:hover:has(.location:hover) .location:not(:hover) {
    opacity: 0.3;
}

.index-hero .locations .location {
    position: relative;
    width: calc(25% - var(--spacing-40));
    column-gap: var(--spacing-40);
    row-gap: min(2.3148148148vw, var(--spacing-40));
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: var(--duration-x2) var(--timing-function);
}

.index-hero .locations .image {
    display: flex;
    justify-content: center;
    align-items: end;
}
.index-hero .locations .image img {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    object-position: center bottom;
}

.index-hero .locations .text {
    width: 100%;
    color: var(--color-white);
    text-wrap: pretty;
    text-align: center;
    width: var(--item-width);
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1366px) {
    .index-hero .locations .image img {
        scale: calc((var(--font-size-body) - 1px) / var(--font-size-body));
    }

    .index-hero .locations .text {
        font-size: calc(var(--font-size-body) - 1px);
    }
}

@media (min-width: 1440px) {
    .index-hero .hero-text > h1 {
        --font-size-h1: var(--90px);
    }
}

@media (max-width: 991px) {
    .index-hero .hero-text > h1 {
        margin-bottom: min(2.5641025641vw, 10px);
    }

    .index-hero .locations {
        --gap-row: min(14.6153846154vw, 57px);
        --gap-col: min(11.2820512821vw, 44px);
        padding: 0;
        padding-bottom: min(16.4102564103vw, var(--spacing-64));
        row-gap: var(--gap-row);
        column-gap: var(--gap-col);
    }

    .index-hero .locations.locations.less-than-4 {
        justify-content: center;
    }

    .index-hero .locations .location {
        width: calc(50% - var(--gap-col));
        height: auto;
        justify-content: end;
    }

    .index-hero .locations .image img {
        max-width: 32.5641025641vw;
        max-height: 12.05128205128vw;
    }
    .index-hero .locations .image {
        display: flex;
        justify-content: center;
        align-items: end;
    }
}

/*AWARDS====================*/
.index-awards {
    background-image: var(--awards-bg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.index-awards .sc-inner {
    padding-top: min(6.9444444444vw, var(--spacing-120));
}

.index-awards .awards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    grid-gap: var(--spacing-40);
    padding-bottom: min(6.9444444444vw, var(--spacing-120));
}

.index-awards .awards .award {
    width: calc((100% - var(--spacing-40) * 3) / 4);
    grid-gap: min(2.3148148148vw, var(--spacing-40));
    display: flex;
    flex-direction: column;
    align-items: center;
    text-wrap: balance;
}

.index-awards .awards .award .image {
    height: min(5.787037037vw, 100px);
    width: min(8.6805555556vw, 150px);
}

.index-awards .awards .award .image img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
}

.index-awards .awards .award .text {
    display: flex;
    flex-direction: column;
    grid-gap: var(--spacing-12);
}

@media (max-width: 991px) {
    .index-awards .sc-inner {
        padding-top: min(25.641025641vw, var(--spacing-80));
    }

    .index-awards .awards {
        grid-gap: min(9.2307692308vw, var(--spacing-36))
            min(3.07692307692vw, var(--spacing-12));
        padding-bottom: min(25.641025641vw, var(--spacing-80));
    }

    .index-awards .awards .award {
        width: calc((100% - var(--spacing-30) * 1) / 2);
        grid-gap: min(6.1538461538vw, var(--spacing-24));
    }

    .index-awards .awards .award .image {
        width: min(25.641025641vw, 100px);
        height: min(20.5128205128vw, 80px);
    }
}

/*UNDER-DEVELOPMENT====================*/
.index-under-development {
    padding: min(9.2592592593vw, var(--spacing-160)) 0;
    background-image: var(--under-development-bg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.index-under-development .title-and-description {
    margin-bottom: min(6.9444444444vw, var(--spacing-120));
}

@media (max-width: 991px) {
    .index-under-development {
        padding: min(20.5128205128vw, var(--spacing-80)) 0;
        overflow: hidden;
    }

    .index-under-development .title-and-description {
        margin-bottom: min(20.5128205128vw, var(--spacing-80));
    }

    .index-under-development .swiper {
        overflow: visible !important;
    }
}

/*IMAGE-BANNER-1====================*/
.image-banner-1 .sc-banner .floating-text {
    width: 100%;
    text-align: center;
    left: 50%;
    bottom: min(3.7037037037vw, 64px);
    color: var(--color-white);
    position: absolute;
    transform: translateX(-50%);
    max-width: 90%;
}

@media (max-width: 991px) {
    .image-banner-1 .sc-banner {
        height: 70vw;
    }

    .image-banner-1 .sc-banner .floating-text {
        width: 90%;
        bottom: 5.1282051282vw;
    }
}

/*COMPREHENSIVE-LIFESTYLE====================*/
.comprehensive-lifestyle {
    padding: min(11.5740740741vw, 200px) 0;
    background-image: var(--comprehensive-lifestyle-bg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.comprehensive-lifestyle .sc-inner {
    display: flex;
    justify-content: center;
    align-items: center;
    text-wrap: balance;
}

.comprehensive-lifestyle .sc-inner .text > p {
    margin-top: min(1.1574074074vw, var(--spacing-20));
}

@media (max-width: 991px) {
    .comprehensive-lifestyle {
        padding: var(--spacing-160) 0;
    }

    .comprehensive-lifestyle .sc-inner .text > p {
        margin-top: min(2.5641025641vw, var(--spacing-10));
    }
}

@media (max-width: 575px) {
    .comprehensive-lifestyle {
        padding: min(20.5128205128vw, 80px) 0;
    }
}

/*IMAGE-BANNER-2====================*/
.image-banner-2 .sc-banner .floating-text {
    --image-banner2-left: 0px;
    width: 453px;
    left: var(--image-banner2-left);
    bottom: min(4.9189814815vw, 85px);
    position: absolute;
    color: var(--color-white);
    display: flex;
    flex-direction: column;
    grid-gap: var(--spacing-24);
}

@media (max-width: 991px) {
    .image-banner-2 .sc-banner .floating-text {
        width: 89.7435897436%;
        height: 85.3846153846%;
        justify-content: space-between;
        left: 50%;
        bottom: 50%;
        transform: translate(-50%, 50%);
        text-align: center;
    }
}

@media (max-width: 390px) {
    .image-banner-2 .sc-banner .floating-text > p {
        font-size: 10px;
        line-height: 12px;
    }
}

/*HOLLISTIC-WELLNESS====================*/
.hollistic-wellness {
    display: flex;
    margin: var(--spacing-120) 0;
}

.hollistic-wellness .images {
    height: 25.9259259259vw;
    width: 66.5%;
    display: flex;
    overflow: hidden;
}

.hollistic-wellness .images img {
    width: auto;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.hollistic-wellness .text-wrap {
    width: 33.5%;
    height: 100%;
    align-self: flex-end;
}

.hollistic-wellness .text-wrap .text {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100%;
    width: min(66.1538461538%, 387px);
    margin: 0 auto;
    grid-gap: min(1.3888888889vw, var(--spacing-24));
    text-wrap: balance;
}

@media (min-width: 992px) {
    .hollistic-wellness .images img:nth-of-type(1) {
        aspect-ratio: 0.65625;
    }

    .hollistic-wellness .images img:nth-of-type(2) {
        aspect-ratio: 0.8772321429;
    }

    .hollistic-wellness .images img:nth-of-type(3) {
        aspect-ratio: 1.01785714286;
    }
}

@media (max-width: 991px) {
    .hollistic-wellness {
        height: auto;
        width: 100%;
        flex-direction: column;
        margin: 0;
    }

    .hollistic-wellness .images {
        display: grid;
        grid-template-columns: 1fr 44.1025641026%;
        grid-template-rows: 58.7179487179vw 37.9487179487vw;
        width: 100%;
        height: auto;
    }

    .hollistic-wellness .images img {
        width: 100%;
        height: 100%;
    }

    .hollistic-wellness .images img:nth-of-type(1) {
        grid-row: span 2;
    }

    .hollistic-wellness .text-wrap {
        width: 100%;
        height: auto;
        padding: var(--spacing-120) 0;
    }

    .hollistic-wellness .text-wrap .text {
        width: 90%;
        text-align: center;
        text-wrap: pretty;
    }
}

@media (max-width: 575px) {
    .hollistic-wellness .text-wrap {
        padding: min(12.8205128205vw, var(--spacing-50)) 0;
    }
}

/*NEWS====================*/
.index-news {
    background-color: #e8e6e2;
    padding-top: min(6.9444444444vw, var(--spacing-120));
    padding-bottom: min(9.2592592593vw, var(--spacing-160));
}

.index-news .title {
    margin-bottom: min(6.9444444444vw, var(--spacing-120));
}

@media (max-width: 991px) {
    .index-news {
        background-color: #e8e6e2;
        padding-top: min(20.5128205128vw, var(--spacing-80));
        padding-bottom: min(20.5128205128vw, var(--spacing-80));
    }

    .index-news .title {
        margin-bottom: min(12.8205128205vw, var(--spacing-50));
        text-align: center;
    }
}

/*IMAGE-BANNER-3====================*/
.image-banner-3 .sc-banner .floating-text {
    width: 85%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: var(--color-white);
    position: absolute;
    display: flex;
    justify-content: space-between;
}

.image-banner-3 .sc-banner .floating-text > h3 {
    width: fit-content;
}

.image-banner-3 .sc-banner .floating-text .description {
    width: min(31.4986737401%, 475px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@media (max-width: 991px) {
    .image-banner-3 .sc-banner .floating-text {
        width: 88.9743589744%;
        height: 77.94871795%;
        flex-direction: column;
        text-align: center;
    }

    .image-banner-3 .sc-banner .floating-text > h3 {
        width: 100%;
    }

    .image-banner-3 .sc-banner .floating-text .description {
        grid-gap: min(10.2564102564vw, var(--spacing-40));
        width: 100%;
    }
}

@media (max-width: 390px) {
    .image-banner-3 .sc-banner .floating-text .description {
        font-size: 10px;
        line-height: 12px;
    }
}
