/*MISC====================*/

/*MISC-HERO====================*/
.misc-hero {
    width: 100vw;
    height: 100svh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.misc-hero .hero-text > p {
    max-width: 84.6153846154%;
    margin-left: auto;
    margin-right: auto;
}
