/* MAIN====================*/
/* FONT SIZE====================*/
/* NEWS GRID====================*/
/* NEWS CARD====================*/
/* A TAG HOVER====================*/
/* UNDER DEVELOPMENT====================*/
/* FIRST SECTION====================*/
/* SECTION INNER IMAGE BANNER====================*/

/*MAIN====================*/
.main {
    background-color: var(--color-off-white);
}

.sc {
    width: 100vw;
    position: relative;
}

.sc-inner {
    width: 100%;
    height: 100%;
    max-width: calc(var(--1508px) + var(--container-spacing-x) * 2);
    padding: 0 var(--container-spacing-x);
    margin: 0 auto;
    position: relative;
}

.sc-inner:has(.entry-content) {
    padding-bottom: var(--spacing-120);
}

.sc-banner {
    position: relative;
    width: 100%;
    height: 100%;
}

.image-banner {
    height: auto;
    width: 100vw;
    overflow: hidden;
}

.image-banner .sc-banner .image *:is(img, video) {
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center bottom;
}

@media (max-width: 991px) {
    .sc-inner:has(.entry-content) {
        padding-bottom: var(--spacing-80);
    }
}

/*FONT SIZE====================*/
.size-h1-h2-m {
    font-size: var(--font-size-h1);
    line-height: var(--line-height-h1);
}

.size-h2-h3-m {
    font-size: var(--font-size-h2);
    line-height: var(--line-height-h2);
}

@media (max-width: 575px) {
    .size-h1-h2-m,
    .size-400-h2-m {
        font-size: var(--font-size-h2);
        line-height: var(--line-height-h2);
    }

    .size-h2-h3-m {
        font-size: var(--font-size-h3);
        line-height: var(--line-height-h3);
    }
}

/*NEWS GRID====================*/
.news-grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: min(2.5462962963vw, var(--44px));
    grid-auto-rows: min-content;
}

@media (max-width: 991px) {
    .news-grid {
        grid-template-columns: repeat(6, 1fr);
        grid-gap: min(12.3076923077vw, var(--48px));
    }

    .index-news .news-grid .news-card:nth-child(n + 3) {
        display: none; /* Hide news items 3 and beyond on smaller screens */
    }
}

@media (max-width: 575px) {
    .news-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

/*NEWS CARD====================*/
.news-card {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    grid-gap: min(3.7037037037vw, var(--spacing-64));
    grid-column: span 3;
}

.news-card:nth-of-type(2n) {
    animation-delay: 0.3s;
}

.news-card:nth-of-type(3n) {
    animation-delay: 0.6s;
}

.news-card:nth-of-type(4n) {
    animation-delay: 0.9s;
}

.news-card .news-image {
    height: auto;
    width: 100%;
    overflow: hidden;
}

.news-card .news-image img {
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;
    transition-duration: var(--duration-x2);
    aspect-ratio: 1;
}

.news-card:hover .news-image img {
    transform: scale(1.05);
}

.news-card .news-detail {
    text-wrap: pretty;
    display: flex;
    flex-direction: column;
    grid-gap: min(1.3888888889vw, var(--spacing-24));
}

.news-card .news-detail > h3 {
    text-transform: uppercase;
}

@media (max-width: 991px) {
    .news-card {
        grid-gap: min(10.2564102564vw, var(--spacing-40));
    }

    .news-card .news-image {
        height: min(56.4102564103vw, 220px);
    }

    .news-card .news-detail {
        grid-gap: min(6.1538461538vw, var(--spacing-24));
    }
}

@media (max-width: 575px) {
    .news-card {
        animation-delay: 0s !important;
    }
}

/* A TAG HOVER====================*/
.more-opacity-hover {
    opacity: 0.4;
}

.more-opacity-hover:hover {
    opacity: 1;
}

.less-opacity-hover {
    opacity: 1;
}

.less-opacity-hover:hover {
    opacity: 0.4;
}

/*UNDER DEVELOPMENT====================*/
*[class*="-under-development"] {
    --swiper-height: 0;
}

.under-development .title-and-description > p {
    margin-top: min(0.9259259259vw, var(--spacing-16));
}

.under-development .swiper {
    --slide-width: 33.33%;
}

.under-development .swiper .swiper-slide {
    width: var(--slide-width) !important;
}

.under-development .swiper .swiper-slide.with-bg {
    padding: 0 var(--spacing-12);
}

.under-development .swiper .swiper-slide .location {
    text-wrap: balance;
    padding: 0 11.2337277465%;
}

.under-development .swiper .swiper-slide.with-bg .location {
    height: min(35.3587962963vw, 611px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: var(--location-bg);
    background-size: cover;
    background-position: center;
}

*[class*="-under-development"] *[class*="swiper-button-"] {
    top: calc(100% - var(--swiper-height) / 2);
}

*[class*="-under-development"] .swiper-button-next {
    right: 2.5%;
}

*[class*="-under-development"] .swiper-button-prev {
    left: 2.5%;
}

@media (max-width: 991px) {
    .index-under-development {
        padding: min(2.5641025641vw, var(--spacing-80)) 0;
    }

    .under-development .title-and-description > p {
        margin-top: var(--spacing-10);
    }

    .under-development .swiper {
        --slide-width: 50%;
    }

    .under-development .swiper.pc-only {
        --slide-width: 100%;
        overflow: visible !important;
    }

    .under-development .swiper.pc-only .swiper-wrapper {
        flex-direction: column;
        transform: none !important;
    }

    .under-development .swiper .swiper-slide.with-bg {
        width: 100vw !important;
        margin-left: calc(-1 * var(--container-spacing-x));
        margin-right: calc(-1 * var(--container-spacing-x));
        padding: 0;
    }

    .under-development .swiper .swiper-slide.with-bg .location {
        min-height: 69.2307692308vw;
        height: auto;
    }

    .under-development .swiper .swiper-slide .location {
        padding: 0 10.3746397695%;
    }
}

/*FIRST SECTION====================*/
.sc-inner.first-sc {
    padding-top: calc(var(--header-height) + var(--spacing-120));
    padding-bottom: var(--spacing-160);
}

.sc-inner.first-sc .hero-text > p {
    width: 642px;
    margin: 0 auto;
    margin-top: var(--spacing-20);
}

@media (max-width: 991px) {
    .sc-inner.first-sc {
        padding-top: calc(var(--header-height) + var(--spacing-64));
        padding-bottom: var(--spacing-80);
    }

    .sc-inner.first-sc .hero-text > p {
        width: min(84.6153846154vw, 642px);
        margin-top: var(--spacing-10);
    }
}

/*SECTION INNER IMAGE BANNER====================*/
.sc-inner .image-banner {
    width: 100%;
    height: min(32.2916666667vw, 558px);
    overflow: hidden;
}

.sc-inner .image-banner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

@media (max-width: 991px) {
    .sc-inner .image-banner {
        height: auto;
        aspect-ratio: 1.6;
    }
}
