/*MEDIA QUERIES:MIN====================*/
@media (min-width: 391px) {
}

@media (min-width: 576px) {
}

@media (min-width: 768px) {
}

@media (min-width: 992px) {
    .hidden-device-md {
        display: none !important;
    }

    /*GENERAL*/
    .container.xl {
        max-width: calc(var(--container-xl) + var(--spacing-container) * 2);
    }
    .container.lg {
        max-width: calc(var(--container-lg) + var(--spacing-container) * 2);
    }
    .container.md {
        max-width: calc(var(--container-md) + var(--spacing-container) * 2);
    }
    .container.sm {
        max-width: calc(var(--container-sm) + var(--spacing-container) * 2);
    }
    .container.half {
        max-width: 50vw;
    }

    *[block-width] {
        margin-left: auto;
        margin-right: auto;
    }
    *[block-width="xl"] {
        max-width: var(--container-xl);
    }
    *[block-width="lg"] {
        max-width: var(--container-lg);
    }
    *[block-width="md"] {
        max-width: var(--container-md);
    }
    *[block-width="sm"] {
        max-width: var(--container-sm);
    }
    *[block-width="half"] {
        max-width: 50%;
    }

    .f-left {
        margin-left: 0 !important;
        margin-right: auto !important;
    }
    .f-right {
        margin-left: auto !important;
        margin-right: 0 !important;
    }

    /* FORM */
    .field.half {
        width: calc(50% - var(--spacing-sm) / 2);
    }

    /* HEADER */

    /* FOOTER */

    /* SECTION */
}

@media (min-width: 1200px) {
}

@media (min-width: 1280px) {
}

@media (min-width: 1440px) {
    :root {
        --font-size-h1: var(--80px);
        --font-size-h2: var(--36px);
        --font-size-h3: var(--22px);
        --font-size-h4: var(--18px);
        --font-size-body: var(--14px);
        --font-size-description: var(--14px);
        --font-size-button: var(--14px);

        --line-height-h2: 1.1111111111;
        --line-height-h3: 1.1818181818;
        --line-height-h4: 1.2777777778;
        --line-height-body: 1.4285714286;
        --line-height-description: 0.7;
        --line-height-button: 1.6428571429;
    }
}

/*MEDIA QUERIES:MAX====================*/
@media (max-width: 1439px) {
    :root {
        --font-size-h1: calc(-1.4142539rem + 7.12694878vw);
    }
}

@media (max-width: 1279px) {
    :root {
        --container-spacing-x: var(--spacing-40);
    }
}

@media (max-width: 991px) {
    :root {
        --container-spacing-x: var(--spacing-40);

        --font-size-h1: calc(1.14496672rem + 2.99500832vw);

        --logo-height: var(--50px);
        --menu-height: var(--16px);
        --header-height: var(--90px);

        --letter-spacing-title-sm: min(0.5384615385vw, 2.1px);
        --letter-spacing-title-md: min(1.1282051282vw, 4.4px);
        --letter-spacing-title-des: min(0.1538461538vw, 0.6px);
        --letter-spacing-title: min(1.1282051282vw, 4.4px);
        --letter-spacing-title-lg: min(1.5384615385vw, 6px);
    }

    .hidden-device-sm {
        display: none !important;
    }
    .hidden-device-sm:first-child + *:not(:first-child) {
        margin-top: 0 !important;
    }
    .overflow-hidden-device-sm {
        overflow: hidden !important;
    }
    .a-left-device-sm {
        text-align: left !important;
    }
    .a-right-device-sm {
        text-align: right !important;
    }
    .a-center-device-sm {
        text-align: center !important;
    }
    .alignwide-device-sm {
        width: 100% !important;
    }
    .alignfull-device-sm {
        width: 100vw !important;
        max-width: 100vw !important;
        margin-left: calc(50% - 50vw) !important;
        margin-right: calc(50% - 50vw) !important;
    }

    /* FOOTER */

    /* MAIN */

    /* MODULES */
}

@media (max-width: 767px) {
    .hidden-mobile {
        display: none !important;
    }

    .a-left-mobile {
        text-align: left !important;
    }
    .a-right-mobile {
        text-align: right !important;
    }
    .a-center-mobile {
        text-align: center !important;
    }
    .alignwide-mobile {
        width: 100% !important;
    }
    .alignfull-mobile {
        width: 100vw !important;
        max-width: 100vw !important;
        margin-left: calc(50% - 50vw) !important;
        margin-right: calc(50% - 50vw) !important;
    }
}

@media (max-width: 575px) {
    :root {
        --container-spacing-x: var(--spacing-20);
    }

    .hidden-mobile-sm {
        display: none !important;
    }
}

@media (max-width: 390px) {
}
